<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body class="container text-center">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="stylesheets/index.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h1>Here are our students</h1>

<% students.forEach(function(student){ %>
  <p>
    <form action="/students/<%= student%>/?_method=DELETE" method="POST">
    <%= student%>
    <a href="/students/<%= student%>/edit">Edit</a>
    <input type="submit" value="X">
    </form>

  </p>
<% })%>

<form action="/create" class="add" method="POST" >
  <p>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" autofocus required>
  </p>
  <p>
    <input type="submit" value="Add a student" class="btn btn-success">
  </p>
</form>



<form action="/students?_method=delete" method="POST">
  <input type="submit" value="Delete All" class="delete-all btn btn-danger">
</form>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"> </script>
<script src="javascripts/index.js"></script>


</body>
</html>